@use 'sass:math';

$b: time-range-slider;

.#{$b} {
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-variant-numeric: tabular-nums;
    font-feature-settings: 'tnum';

    // 输入框
    // --------------------

    @at-root %invalid-input {
        border-color: #d48806;
        background: #fffbe6;
    }

    &__inputs {
        display: flex;
        gap: 8px;
    }

    &__input {
        box-sizing: border-box;
        border: 1px solid rgb(0 9 25 / 25%);
        border-radius: 2px;
        height: 24px;
        padding: 0 0 0 2px;

        &::-webkit-calendar-picker-indicator {
            margin-inline-start: 0;
        }

        &:invalid,
        &--invalid {
            @extend %invalid-input;
        }
    }

    &__inputs--warned &__input {
        @extend %invalid-input;
    }

    &__date-input {
        width: 120px;
    }

    &__time-input {
        width: 100px;
    }

    // 时间刻度
    // --------------------

    &__ruler {
        height: 13px;

        font-size: 12px;
        line-height: 12px;

        user-select: none;
        pointer-events: none;

        color: rgb(0 9 25 / 35%);

        &__scale {
            position: absolute;
            bottom: 0;

            height: 3px;
            width: 1px;

            background: rgb(0 9 25 / 25%);

            @for $i from 1 to 24 {
                &__#{$i} {
                    left: (math.div($i, 24)) * 100%;
                }
            }

            &__3,
            &__6,
            &__9,
            &__12,
            &__15,
            &__18,
            &__21 {
                height: 4px;
                background: rgb(0 9 25 / 25%);
            }
        }

        &__label {
            position: absolute;
            left: 0;
            bottom: 1px;
            transform: translateX(-50%) scale(0.7);
            transform-origin: top center;
        }
    }

    // Day Slider
    // --------------------

    &__slider {
        position: relative;
        box-sizing: border-box;
        height: var(--time-range-slider__slider--height, 36px);
        border-top: 1px solid rgb(0 9 25 / 25%);

        contain: strict;

        // 隐藏第一个元素的上边框
        &:first-child {
            margin-top: -1px;
        }

        > .#{$b}__ruler {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &__date,
        &__hint-time {
            position: absolute;
            left: 5px;
            top: 0px;
            font-size: 12px;
            line-height: 22px;
            user-select: none;
            pointer-events: none;
        }

        &__date {
            &__weekend-flag {
                font-weight: normal;
                text-decoration: underline;
            }
        }

        %rail {
            position: absolute;
            top: 0;
            bottom: 0;
            left: calc(100% * var(--start));
            right: calc(100% - 100% * var(--end));
            pointer-events: none;
        }

        &__disabled-rail {
            @extend %rail;
            background: rgb(0 9 25 / 8%);
        }

        &__rail {
            @extend %rail;
            background: #00aaff30;
        }

        &__point,
        &__hint-time-line {
            position: absolute;
            top: 0;
            bottom: 0;
            left: calc(100% * var(--position) - 2px * var(--position));
            width: 2px;
        }

        &__point {
            background: #00aaff;
        }

        &__hint-time-line {
            background: rgb(0 9 25 / 25%);
        }
    }

    // Sliders
    // --------------------

    &__header {
        flex: none;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__main {
        flex: 1 1 0;
        min-width: 0;

        background: #fff;
        border: 1px solid rgb(0 9 25 / 25%);
        border-radius: 2px;

        position: relative;
        overflow: hidden;

        &__scrollbar-cover {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.04);
        }
    }

    &__sliders-container {
        height: 100%;
        overflow: auto;
        scroll-behavior: smooth;
    }
}
