$b: time-range-slider;

.#{$b} {
    font-variant-numeric: tabular-nums;
    font-feature-settings: 'tnum';

    // 输入框
    // --------------------

    @at-root %invalid-input {
        border-color: #d48806;
        background: #fffbe6;
    }

    &__inputs {
        display: flex;
        gap: 8px;
    }

    &__input {
        box-sizing: border-box;
        border: 1px solid #767676;
        border-radius: 2px;
        height: 24px;
        padding: 0 0 0 2px;

        &::-webkit-calendar-picker-indicator {
            margin-inline-start: 0;
        }

        &:invalid,
        &--invalid {
            @extend %invalid-input;
        }
    }

    &__inputs--warned &__input {
        @extend %invalid-input;
    }

    &__date-input {
        width: 120px;
    }

    &__time-input {
        width: 100px;
    }

    // 时间刻度
    // --------------------

    &__ruler {
        height: 13px;

        font-size: 12px;
        line-height: 12px;

        user-select: none;
        pointer-events: none;

        color: #a9abac;

        &__scale {
            position: absolute;
            bottom: 0;

            height: 3px;
            width: 1px;

            background: #d4d5d5;

            @for $i from 1 to 24 {
                &__#{$i} {
                    left: ($i / 24) * 100%;
                }
            }

            &__3,
            &__6,
            &__9,
            &__12,
            &__15,
            &__18,
            &__21 {
                height: 4px;
                background: #a9abac;
            }
        }

        &__label {
            position: absolute;
            left: 0;
            bottom: 1px;
            transform: translateX(-50%) scale(0.7);
            transform-origin: top center;
        }
    }

    // Day Slider
    // --------------------

    &__slider {
        position: relative;
        height: var(--time-range-slider__slider--height, 34px);
        border-bottom: 1px solid #000;

        contain: strict;

        > .#{$b}__ruler {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &__date,
        &__hint-time {
            position: absolute;
            left: 5px;
            top: 0px;
            font-size: 12px;
            line-height: 20px;
            user-select: none;
            pointer-events: none;
        }

        %rail {
            position: absolute;
            top: 0;
            bottom: 0;
            left: calc(100% * var(--start));
            right: calc(100% - 100% * var(--end));
        }

        &__disabled-rail {
            @extend %rail;
            background: #e7e9ea;
            pointer-events: none;
        }

        &__rail {
            @extend %rail;
            background: #00aaff30;
            pointer-events: none;
        }

        &__point,
        &__hint-time-line {
            position: absolute;
            top: 0;
            bottom: 0;
            left: calc(100% * var(--position) - 2px * var(--position));
            width: 2px;
        }

        &__point {
            background: #00aaff;
        }

        &__hint-time-line {
            background: #b0b2b3;
        }
    }

    // Sliders
    // --------------------

    &__header {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
    }

    &__main {
        border: 1px solid #000;
        height: 300px;
        position: relative;

        &__scrollbar-cover {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.04);
        }
    }

    &__sliders-container {
        height: 100%;
        overflow: auto;
        scroll-behavior: smooth;
    }
}
